
.contenedor{margin-left: 210px;}

.ColumColor{
background-color: rgb(52,73,94);
color: white;

}
.columbord
{
 border-radius: 0.3em;
}

/*editado raul form Types*/
/*--Type--*/
textarea{

	resize:none;
}

.UserColor
{
color: rgb(61,142,185);
font-style: bold;
font-size: 16px;
font-family:Segoe UI;

}

.derecha{
    margin-top: 0px;
       margin-left:86px;
}
.footerTamano{
    width: 30px;
    color:red;
}

.contimage{
width: 50%;
margin-left: 20%;
}
img{
    width: 100%;
}
.hoverimg
{
text-decoration: none;
}
a{
    text-decoration: none;
}
.panel-primary:hover { 
    background-color: yellow;
}

/*check box*/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

#toolbar .editors-container {
  overflow: hidden;
  height: 0;
  transition: height 200ms;
}
#toolbar .editors-container.active {
  height: auto;
}
#main #editor {
  background: #FFF;
  padding: 2% 4%;
  border: dashed 5px #27c0d8;
}

.contenedor
{
	margin-left: 250px;
}

/* estilos para registro de usuario*/
.frmEspacios	
{
	margin-bottom: 30px;
}

#frmLogin
{
	/*background: black;*/
}

.registro
{
	background: white;
	height: 500px;
}

.titulo
{
	padding: 16px;
	background: #3c8dbc;
	height: 60px;
	color: white;
}

.btnRegistrar
{
	background-color: #3c8dbc;
    border-color: #367fa9;
    outline: none;
    font-size: 1.35em;
    border: 3px solid #000;
}

.positionBtn
{
    margin-right: 10%;
}

/* editado raul fin*/
.btn span.glyphicon {       
 opacity: 0;    
}
.btn.active span.glyphicon {    
 opacity: 1;    
}


.colorfooter{
  
    padding: 16px;
    bottom: 0;
    
}
.posFoo{
    margin-left: 85px;
}
.poscondu{
    margin-left: 90px;
}
.footcontac{

    font-size: 12px !important;
}