
.contenedor{margin-left: 210px;}



/*editado raul form Types*/
/*--Type--*/
.main-contact{
	background-color:;
	padding:0em 9em;
	  
}
.main-contact p{
	color: #000;
	font-size: 1.2em;
	word-spacing: 1px;
	letter-spacing: 1.3px;
	font-weight: 600;
	text-transform: lowercase;
	margin-top: 2px;
	margin-left: 15px;
}
.main-contact h3{
	margin-left: 15px;
}
.contact-form{
	margin-top:3em;
}
.main-contact form input[type="text"],.main-contact form textarea{
	width: 100%;
	padding: 10px 14px;
	border: 1px solid silver;
	font-size: 1.2em;
	margin-bottom:1.5em;
	color: #000;
	outline: none;
	font-weight:400;
}
.main-contact form textarea {
	resize:none;
	height:201px;
	border-radius: 0;
}
.main-contact form input[type="submit"] {
	font-size: 1.35em;
	font-weight:400;
	color: #fff;
	outline: none;
	border: 1px solid #000;
	padding: 0.5em 3em;
	background:#000;
	margin-top: 0em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.main-contact form input[type="submit"]:hover{
	background:#fff;
	color:#000;
}
.contact_info {
	margin-top:2em;
}
.contact_info h3 {
	color: #000;
	font-size: 2.2em;
	font-weight: 600;
	margin-bottom:0.7em;
}
.map {
	padding:0 15px;
}
.map iframe {
	width:100%;
	min-height:350px;
}




/*check box*/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

#toolbar .editors-container {
  overflow: hidden;
  height: 0;
  transition: height 200ms;
}
#toolbar .editors-container.active {
  height: auto;
}
#main #editor {
  background: #FFF;
  padding: 2% 4%;
  border: dashed 5px #27c0d8;
}

.contenedor
{
	margin-left: 250px;
}

/* estilos para registro de usuario*/
.frmEspacios	
{
	margin-bottom: 30px;
}

#frmLogin
{
	/*background: black;*/
}

.registro
{
	background: white;
	height: 500px;
}

.titulo
{
	padding: 16px;
	background: #3c8dbc;
	height: 60px;
	color: white;
}

.btnRegistrar
{
	background-color: #3c8dbc;
    border-color: #367fa9;
    outline: none;
    font-size: 1.35em;
    border: 3px solid #000;
}



/* editado raul fin*/

